<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.prnd.mvvmeventsample">

    <application
        android:name=".PrndApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvvmEventSample">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".step1.Step1Activity" />
        <activity android:name=".step2.Step2Activity" />
        <activity android:name=".step3.Step3Activity" />
        <activity android:name=".step4.Step4Activity" />
        <activity android:name=".step5.Step5Activity" />
        <activity android:name=".step6.Step6Activity" />
        <activity android:name=".step7.Step7Activity" />
    </application>

</manifest>
